<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2023 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 11/18/23, 9:26 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GeeksEmpire.Material"
        android:largeHeap="true">

        <activity
            android:name=".ExperimentSelector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Games.GradientGame"
            android:exported="true"/>

        <activity
            android:name=".Scrolls.ScrollsViews"
            android:exported="true"/>

        <activity
            android:name=".SectionedScrolls.SectionedScrollViews"
            android:exported="true"/>

        <!-- Tests -->
        <activity
            android:name=".Tests.BlurryTests"
            android:exported="true"/>

        <activity
            android:name=".Tests.ProgressTests"
            android:exported="true"/>

        <activity
            android:name=".Tests.WaitingTests"
            android:exported="true"/>

        <activity
            android:name=".Widgets.WidgetsConfigurations"
            android:exported="true"/>
        <!-- Tests -->

        <receiver
            android:label="Widget"
            android:icon="@drawable/experiment_icon"
            android:exported="false"
            android:name=".Widgets.HomescreenWidget" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_engine_widget" />
        </receiver>

    </application>

</manifest>