<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2022 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 12/16/22, 6:29 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GeeksEmpire.Material"
        android:largeHeap="true">

        <activity
            android:name=".ExperimentSelector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Games.GradientGame"
            android:exported="true"/>

        <activity
            android:name=".Scrolls.ScrollsViews"
            android:exported="true"/>

    </application>

</manifest>